body,
body* {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: aqua;
    margin: 90px 90px;
    border-radius: 20px;
    border: 2px solid black;
}

.display {
display: flex;
flex-direction: column;
align-items:end;

}
.total {
  
    width: 300px;
    height: 30px;
    margin: 20px calc(50% - 150px);
    text-align: end;
    margin-right: 30px;
    
}
.steps {
   border-top: 1px solid grey;
   width: calc(100% - 10px);
   margin: 5px 5px 5px 5px;
   height: 30px;
text-align: end;
font-size: 20px;
}
.buttons-container {
    width: 350px;
    margin: 20px;
    border-radius: 20px;
}
.buttons {
    display: grid;
    grid-template-columns:  1fr  1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    width: 100%;
    font-size: 40px;
    gap: 10px;
    background-color: rgb(207, 194, 194);
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 5px 5px -2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.4);
  
}  
.btn {
    width: 70px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
}
.buttons > .span {
    grid-column: span 2;
    width: 100%;
    background-color: pink;
}
.btn:hover {
    background-color: rgb(235, 233, 233);
}
